<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="./wrongCredentials.css" /> 
    <title> Wrong Credentials </title>
</head>

<body>
    <div class="main">

    <a href="/"> ⟵ HYPR </a>

    
    <div class="signup-container">
        <h2> Wrong Credentials. Try Again </h2>

    </div>

    </div>
    

</body>
</html>