body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    border:4px solid black;
    background-color: grey;
    width:400px;
    margin: 0 auto;
}


img {
    width: 100%;
    border:2px solid black;
}

p[scores] {
    font-size: 2em;
}

.n1, .n2 {
    font-weight: bold;
}


.useButtons  {
    font-size: 1.5em;
}

p{
    font-size: 1.5em;
}

.p1Button {
    background-color: green;
}

.p2Button {
    background-color: blue;
}

.resetButton {
    background-color: red;
}

.box{
    display: block;
    height: 300px;
    width: 300px;
    margin-left: 150px;
    margin-top: 100px;
    transition: all 0.5s;
    font-size:2em;
}

.box2{
    display: block;
    height: 300px;
    width: 300px;
    margin-left: 150px;
    margin-top: 100px;
    transition: all 0.5s;
    font-size:2em;
}