.h21 {
    color: red;
    display: inline;
}

.h22 {
    color: blue;
    display: inline-block;
    border: 1px black dotted;
    height: 50px;
    width: 100px;
}

.p1 {
    color: grey;
}

.ul {
    color: orange;
}

.ol {
    color: blue;
}

.innerUl > .innerLi {
    color: green;
}

.outerDiv {
    width: 500px;
    height: 500px;
    border: 2px black solid;
    background-color: grey;
}

.innerDiv {
    width: 300px;
    height: 300px;
    border: 1px black solid;
    background-color: rgb(182, 106, 106);

    margin-left: 30px;
    padding: 50px;
}

.outerDiv, .innerDiv {
    font-weight: bold;
}

