<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css" >
    <title>Belgian Jewels</title>
</head>

<body>
    <div class="h2"> <h2>Belgian Jewels</h2> </div>
    
    <div class="container-locations">
    <div class="location-g3">
            <p class="p-heading"> G3 LAHORE </p>

            <div class="inner-grid">
                <div class="inventory"> Inventory </div>
                <div class="sales"> Sales </div>
                <div class="production"> Production </div>
                <div class="customers"> Customers </div>
                <div class="accounting"> Accounting </div>
                <div class="marketing"> Marketing </div>
            </div>

    </div>

    <div class="locations-other">Coming Soon...</div>
    <div class="locations-other">Coming Soon...</div>
    <div class="locations-other">Coming Soon...</div>
    <div class="locations-other">Coming Soon...</div>
    <div class="locations-other">Coming Soon...</div>
    </div>



    <script src="./js/home.js"></script>
</body>

</html>