<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css" >
    <title>Belgian Jewels</title>
</head>

<body>
    <div class="h1"> <h1>Belgian Jewels</h1> </div>
    
    <div class="container-locations">
    <div class="location-g3">
            <p class="p-heading"> G3 LAHORE </p>

            <div class="inner-grid">



                <div class="inventory"> Inventory 

                    <div class="inventory-dropdowns">

                        <div class="standard-inventory">Standard Inventory</div>
                        <div class="onhand-inventory">On Hand Inventory</div>
                        <div class="past-inventory-sales">Past Inventory Sales</div>
                        <div class="inventory-forecast">Inventory Forecast</div>

                    </div>  
                 </div>
                    


                <div class="sales"> Sales 

                    <div class="sales-dropdowns">

                        <div class="make-sale">Make Sale</div>
                        <div class="past-sales">Past Sales</div>
                        <div class="sales-forecast">Sales Forecast</div>
                        
                    </div>  
                </div>


                <div class="production"> Production 

                    <div class="production-dropdowns">

                        <div class="create-order">Create Order</div>
                        <div class="material-status">Material Status</div>
                        <div class="production-status">Production Status</div>
                        
                    </div>  


                </div>



                <div class="accounting"> Accounting 

                    <div class="accounting-dropdowns">

                        <div class="make-expense">Make Expense</div>
                        <div class="financials">Financials</div>
                        
                    </div>  

                </div>

                <div class="customers"> Customers </div>
                
                <div class="marketing"> Marketing </div>
            </div>

    </div>

    <div class="locations-other">Coming Soon...</div>
    <div class="locations-other">Coming Soon...</div>
    <div class="locations-other">Coming Soon...</div>
    <div class="locations-other">Coming Soon...</div>
    <div class="locations-other">Coming Soon...</div>
    </div>

    <%- include('./partials/chatbot.ejs') %>


    <script src="./js/home.js"></script>
</body>

</html>