<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belgian Jewels ERP</title>
</head>
<body>
    <h1 style="margin-left: 100px"> BJ ERP </h1>
     <a href="/inventory"> <button style="width: 300px; height:100px; margin:100px"> Inventory </button> </a> 
</body>
</html>