<div class="chatbot-icon">Belgian AI</div>

<div class="chatbot-outer-container">

    <div class="chatbot-container">
    
    <div class="top-most-line">
        <div class="chatbot-heading">I am the Belgian Jewels Super Intelligence. I know it all and understand it all! Ask me!</div>
        <div class="cross">X</div> 
    </div>

    <div class="question-container">

        <form action="/" class="prompt-form">
            <textarea name="prompt" id="prompt" rows="8" placeholder="Ask me anything!"></textarea>
            <button id="prompt-button" class="prompt-button">Ask!</button>
        </form>

    </div>

    <div class="response"></div>

    </div>

</div>



<link rel="stylesheet" href="/css/chatbot.css">
<script src=" ./js/chatbot.js"></script>