<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> randValue is key -- >  Value is <%= randValue %> </h1>
    <h1> FuncSum method for funcSum(2,3) is <%= funcSum(2,3) %> </h1>
    


    
</body>
</html>