* {
    margin: 0px;
    padding: 0px;
}

.h2 {
    text-align: center;
    padding-top: 30px;
    color:#ebac25;
}

.container-locations {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.location-g3 {
    border: 2px solid black;
}

.locations-other {
    border: 2px dotted black;
    height: 346.7px;
}

.location-g3, .locations-other {
    flex-basis: 25%;
    flex-direction: column;
    min-width: 335px;
    max-width: 100%;
}

.p-heading {
    color: white;
    font-weight: bold;
    background-color: rgb(11, 7, 7);
    text-align: center;
    font-size: 1em;
    margin: 0px;
    padding: 5px;
    border-bottom: solid 1px black;

}

.inner-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.inventory, .sales, .production, .customers, .accounting, .marketing {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1.7em;
    padding: 10px;
    user-select: none;
    position: relative;
}

.inventory-dropdowns {
    text-align: center;
    font-size: 1em;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    user-select: none;
    border:1px solid black;
    position: absolute;
    left: 15%;
    top: 100%;
    width: 70%;
    background-color: rgb(211, 211, 211);
    z-index: 2;
    display: none;
}

.standard-inventory, .onhand-inventory, .past-inventory-sales, .inventory-forecast {
    border: 1px solid black;
    padding: 5px;
}

.inventory:hover {
    background-color: #ffb10a;
}

.inventory:hover .inventory-dropdowns{
    display: block;
}

.standard-inventory:hover, 
.onhand-inventory:hover, 
.past-inventory-sales:hover, 
.inventory-forecast:hover {
    background-color: #ffb10a;
}


.sales-dropdowns {
    text-align: center;
    font-size: 1em;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    user-select: none;
    border:1px solid black;
    position: absolute;
    left: 15%;
    top: 100%;
    width: 70%;
    background-color: rgb(211, 211, 211);
    z-index: 2;
    display: none;
}



.make-sale, .past-sales, .sales-forecast {
    border: 1px solid black;
    padding: 5px;
}

.sales:hover {
    background-color: #ffb10a;
}

.sales:hover .sales-dropdowns{
    display: block;
}

.make-sale:hover, 
.past-sales:hover, 
.sales-forecast:hover {
    background-color: #ffb10a;
}



.production-dropdowns {
    text-align: center;
    font-size: 1em;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    user-select: none;
    border:1px solid black;
    position: absolute;
    left: 15%;
    top: 100%;
    width: 70%;
    background-color: rgb(211, 211, 211);
    z-index: 2;
    display: none;
}



.create-order, .material-status, .production-status {
    border: 1px solid black;
    padding: 5px;
}

.production:hover {
    background-color: #ffb10a;
}

.production:hover .production-dropdowns{
    display: block;
}

.create-order:hover, 
.material-status:hover, 
.production-status:hover {
    background-color: #ffb10a;
}


.accounting-dropdowns {
    text-align: center;
    font-size: 1em;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    user-select: none;
    border:1px solid black;
    position: absolute;
    left: 15%;
    top: 100%;
    width: 70%;
    background-color: rgb(211, 211, 211);
    z-index: 2;
    display: none;
}



.make-expense, .financials {
    border: 1px solid black;
    padding: 5px;
}

.accounting:hover {
    background-color: #ffb10a;
}

.accounting:hover .accounting-dropdowns{
    display: block;
}

.make-expense:hover, 
.financials:hover {
    background-color: #ffb10a;
}